// Estilos creepy server front-end

@import url('https://fonts.googleapis.com/css?family=Nosifer|VT323');


body {

    background-color: #222 ;
    font-family: 'VT323', monospace;
    color: whitesmoke;

  & h1 {

    font-family: 'Nosifer', cursive;
    color: gray;
}

}
